#break-label,
#session-label{
    color: #000405cb; 
    letter-spacing: 1px;
    font-size: 21px;
    margin: 10px 0 0;
    text-align: center; 
}

.break-box,
.session-box{
    border-radius: 15px;
    box-shadow: 0 2px 8px #00000026;
    width: 195px;
}

.buttons-break,
.buttons-session{
    display: flex;   
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#break-decrement,
#break-increment,
#session-decrement,
#session-increment {
    background-color: transparent;
    border: none; 
    cursor: pointer;
}

#break-length,
#session-length{
    font-size: 35px;
}  